<!DOCTYPE html>
<html ng-app="sevillaApp">

<head>
    <meta charset="utf-8">
    <meta content="Sevilla bếp gia dụng" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
        @font-face {
            font-family: UTMBOLD;
            src: url(../assets/font/UTM_HelveBold_0.ttf);
        }

        @font-face {
            font-family: UTMFONT;
            src: url(../assets/font/UTM_Helve_0.ttf);
        }

        body {
            font-family: UTMFONT !important;
        }

        .active {
            color: wheat !important;
        }


    </style>
    <link rel="stylesheet" href="../assets/global/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/layouts/layout.css">
    <link rel="stylesheet" href="../assets/css/layouts/component-rounded.css">
    <link rel="stylesheet" href="../assets/css/page/products.css">

</head>

<body ng-controller="productsController" ng-init="productsAll={{products}}; init()">
<div class="page-container-wrapper">
    <div class="page-header">
        <div class="page-header-inner">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="navbar-inner collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="page-logo">
                            <img src="../assets/image/logo.png" alt="">
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/description">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">SẢN PHẨM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/promotions">KHUYẾN MÃI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-logo">
                <img src="../assets/image/logo.png" alt="">
            </div>
            <div class="page-intro center">
                <ul class="list-intro">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/description">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/promotions">KHUYẾN MÃI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <div id="banner" class="page-banner carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#banner" data-slide-to="0" class="active"></li>
                    <li data-target="#banner" data-slide-to="1"></li>
                </ol>

                <!-- Content -->
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="item active">
                        <img class="img-responsive" src="/assets/image/banner1.png" style="width:100%; height: 487px"
                             alt="banner1">
                    </div>
                    <!-- Slide 2 -->
                    <div class="item">
                        <img class="img-responsive" src="/assets/image/banner2.png" style="width:100%; height: 487px"
                             alt="banner2">
                    </div>
                </div>
                <!-- Previous/Next controls -->
                <a class="left carousel-control" href="#banner" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#banner" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="page-products-wrapper center row">
                <div class="col-md-4 col-xs-4 categories-menu-wrapper">
                    <ul class="categories-menu">
                        <li class="list-item">
                            <div class="nav-link">
                                <div class="triangle-right"></div>
                                <span class="title bepgas">BẾP GAS</span>
                            </div>

                            <ul class="sub-menu">
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'ga2lo'}"
                                    ng-click="changeProducts('ga2lo',null)">

                                    >
                                    BẾP GAS ÂM 2 LÒ
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'ga3lo'}"
                                    ng-click="changeProducts('ga3lo',null)">

                                    >
                                    BẾP GAS ÂM 3 LÒ
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'gahh'}"
                                    ng-click="changeProducts('gahh',null)">
                                    >
                                    BẾP GAS - TỪ HỖN HỢP
                                </li>
                            </ul>
                        </li>
                        <li class="list-item">
                            <div class="nav-link bepdientu">
                                <div class="triangle-right"></div>
                                <span class="title">BẾP ĐIỆN TỪ</span>
                            </div>

                            <ul class="sub-menu">
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'beptu1'}"
                                    ng-click="changeProducts('beptu1',null)">
                                    BẾP ĐIỆN TỪ ĐƠN
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'beptu2'}"
                                    ng-click="changeProducts('beptu2',null)">
                                    BẾP ĐIỆN TỪ ĐÔI
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'beptu3'}"
                                    ng-click="changeProducts('beptu3',null)">
                                    BẾP ĐIỆN TỪ BA
                                </li>
                            </ul>
                        </li>
                        <li class="list-item">
                            <div class="nav-link">
                                <div class="triangle-right"></div>
                                <span class="title">MÁY HÚT KHỬ MÙI</span>
                            </div>
                            <ul class="sub-menu">
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'kmdoclap'}"
                                    ng-click="changeProducts('kmdoclap',null)">

                                    MÁY HÚT KHỬ MÙI ĐỘC LẬP
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'kmkinhvat'}"
                                    ng-click="changeProducts('kmkinhvat',null)">
                                    MÁY HÚT KHỬ MÙI KÍNH VÁT
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'kmchut'}"
                                    ng-click="changeProducts('kmchut',null)">
                                    MÁY HÚT KHỬ MÙI CHỮ T
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'kmkinhcong'}"
                                    ng-click="changeProducts('kmkinhcong',null)">
                                    MÁY HÚT KHỬ MÙI KÍNH CONG
                                </li>
                                <li class="list-item"
                                    ng-class="{'active' : typeOfProduct == 'kmcodien'}"
                                    ng-click="changeProducts('kmcodien',null)">
                                    MÁY HÚT KHỬ MÙI CỔ ĐIỂN
                                </li>
                            </ul>
                        </li>
                        <li class="list-item">
                            <!--<div class="triangle-right"></div>-->
                            <span class="title">LÒ NƯỚNG</span>

                        </li>
                        <li class="list-item">
                            <!--<div class="triangle-right"></div>-->
                            MÁY SẤY BÁT
                        </li>
                        <li class="list-item">
                            <!--<div class="triangle-right"></div>-->
                            MÁY RỬA BÁT
                        </li>
                        <li class="list-item">
                            <!--<div class="triangle-right"></div>-->
                            LÒ VI SÓNG
                        </li>
                        <li class="list-item">
                            <!--<div class="triangle-right"></div>-->
                            VÒI, CHẬU RỬA BÁT
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-xs-8 products-field-wrapper">
                    <div class="col-md-12 title-type-products">
                        <div ng-click="changeProducts(null,typeOfSale = 'new')" class="col-md-4 col-xs-12 title-badge">
                            <span
                                    ng-class="{'underline' : typeOfSale == 'new'}"
                            >SẢN PHẨM MỚI</span>
                        </div>
                        <div ng-click="changeProducts(null,typeOfSale='highlight')"
                             class="col-md-4 col-xs-12 title-badge">
                            <span ng-class="{'underline' : typeOfSale == 'highlight'}"
                            >SẢN PHẨM NỔI BẬT</span>
                        </div>
                        <div ng-click="changeProducts(null,typeOfSale='bestofsale')"
                             class="col-md-4 col-xs-12 title-badge">
                            <span ng-class="{'underline' : typeOfSale == 'bestofsale'}"
                            >SẢN PHẨM BÁN CHẠY</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 products-field">
                        <div style="text-align:center" dir-paginate="product in products | itemsPerPage: pageSize" current-page="currentPage"
                             class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=\{{product.code}}" class="thumbnail">
                            <img check-image ng-src="../assets/image/\{{product.code}}.jpg" alt="...">
                            </a>
                            <span> \{{product.name}}
                            </span>
                            <b class="product-name">
                                </br>
                                \{{product.display}}
                            </b> </br>
                            <!--<b class="product-price">-->
                            <!--\{{product.price}} d-->
                            <!--</b>-->
                        </div>
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=2" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-02.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - T 88S-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--16.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=3" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-03.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - T 80S-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--13.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=4" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-04.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - T 75S-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--11.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=5" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-05.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - T 70D-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--10.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=6" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-06.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - T 70S-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--10.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=7" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-07.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - T 60S-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--9.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=8" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-08.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - T 60D-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--9.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-xs-12 product-detail">-->
                        <!--<a href="/product?id=9" class="thumbnail">-->
                        <!--<img src="../assets/image/pic-09.jpg" alt="...">-->
                        <!--</a>-->
                        <!--<b class="product-name">-->
                        <!--Bếp điện tử cao cấp SEVILLA </br>-->
                        <!--SV - M 500T-->
                        <!--</b> </br>-->
                        <!--<b class="product-price">-->
                        <!--19.990.000 d-->
                        <!--</b>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="center">
                <dir-pagination-controls
                        boundary-links="true"
                        on-page-change="pageChangeHandler(newPageNumber)"
                        template-url="../angular-utils-pagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>

            <!--<div class="page-toolbar">-->
            <!--<div class="toolbar-hotline">-->
            <!--<span class="hotline-icon">-->
            <!--<img src="../assets/image/hotline.png" width="35px" height="35px" alt="">-->
            <!--</span>-->
            <!--<span class="hotline-contact">-->
            <!--<span class="hotline-text">-->
            <!--HOTLINE-->
            <!--</span>-->
            <!--<span class="hotline-phone underline">-->
            <!--0947.769.899-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--<div class="toolbar-social">-->
            <!--<img src="../assets/image/zalo.png" alt="">-->
            <!--</div>-->
            <!--<div class="toolbar-social">-->
            <!--<img src="../assets/image/skype.png" alt="">-->
            <!--</div>-->
            <!--<div class="toolbar-social">-->
            <!--<a href="https://www.facebook.com/bepsevilla/" target="_blank">-->
            <!--<img src="../assets/image/facebook.png" width="44px" height="44px" alt="">-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner center">
            <div class="footer-logo">
                <img src="../assets/image/logo_footer.png" alt="">
            </div>
            <div class="footer-info">
                <div class="company-name"><b>CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU NHẬT MINH</b></div>
                <div class="company-address" style="color: #6e6e6e">Văn phòng giao dịch: U10-L12 KĐT Đô Nghĩa - Quận Hà
                    Đông - Hà Nội
                </div>
                <div class="company-contact row">
                    <div class="col-md-3 col-xs-12">
                        Phone: 024.3912.2333; 024.3994.5566
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Hotline: 0947.769.899
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Email: nganhaitc@gmail.com
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Skype: phihong5000
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript" src="../assets/global/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/layouts/scripts/layout.js"></script>
<script type="text/javascript" src="../assets/layouts/scripts/products.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
<script src="../angular-utils-pagination/dirPagination.js"></script>
<script src="../angularjs/app.module.js"></script>
<script src="../angularjs/products/products.controller.js"></script>
</body>

</html>