<div class="page-product-wrapper center">
    <img class="img-responsive" src="{{img}}" alt="...">

    <!--<div class="image-field">-->
    <!--<div class="image-large">-->
    <!--<img src="../assets/image/product.png" alt="...">-->
    <!--</div>-->
    <!--<ul class="thumb-image">-->
    <!--<li><img src="../assets/image/product.png" alt="..."></li>-->
    <!--<li><img src="../assets/image/product.png" alt="..."></li>-->
    <!--<li><img src="../assets/image/product.png" alt="..."></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="overview-field">-->
    <!--<div class="title-field">-->
    <!--<div class="btn btn-green">-->
    <!--\{{typeOfSaleText}}-->
    <!--</div>-->
    <!--<div class="product-name">-->
    <!--<b >-->
    <!--\{{product.name}} </br>-->
    <!--\{{product.code}}-->
    <!--</b>-->
    <!--</div>-->
    <!--<div class="product-price">-->
    <!--<b >-->
    <!--\{{product.price}} đ-->
    <!--</b>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="info-field" style="padding: 0">-->
    <!--<h3>Tính năng sản phẩm</h3>-->
    <!--<ul ng-repeat = "tinhnang in product.tinhnang">-->
    <!--<li>\{{tinhnang}}</li>-->

    <!--</ul>-->
    <!--<h3>Thông số kỹ thuật</h3>-->
    <!--<ul ng-repeat = "thongso in product.thongso">-->
    <!--<li>\{{thongso}}</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Xuất xứ : </label> <span>Nhập khẩu nguyên chiếc ITALY</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Model : </label> <b>SV-213H</b>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Điện áp : </label> <span>220V, 50hz/60</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Mặt kính : </label> <span>Mặt kính Euroka vát cạnh tại Pháp. Chống trầy xước, chịu lực, chịu nhiệt cao</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Phím điều  : </label> <span>Dạng cảm ứng. Mạch nguồn và mạch điều khiển Erika, sản xuất tại Italy</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Công su </label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Tính năng  </label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Kích thước mặt kính  </label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Kích thước khoét đá  </label>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->

    <!--</div>-->
    <!--<div class="clear"></div>-->
    <!--<div class="dandy-field">-->
    <!--<div class="strong-text">CÁC SẢN PHẨM CAO CẤP HƠN ĐẾN TỪ THƯƠNG HIỆU DANDY</div>-->
    <!--<ul class="flex-item">-->
    <!--<li >-->
    <!--<img src="../assets/image/product.png" alt="..."></br>-->
    <!--<b class="product-name">-->
    <!--Bếp điện tử cao cấp SEVILLA </br>-->
    <!--SV - 213 IH-->
    <!--</b> </br>-->
    <!--<b class="product-price">-->
    <!--10.000.000 d-->
    <!--</b>-->
    <!--</li>-->
    <!--<li >-->
    <!--<img src="../assets/image/product.png" alt="..."></br>-->
    <!--<b class="product-name">-->
    <!--Bếp điện tử cao cấp SEVILLA </br>-->
    <!--SV - 213 IH-->
    <!--</b> </br>-->
    <!--<b class="product-price">-->
    <!--10.000.000 d-->
    <!--</b>-->
    <!--</li>-->
    <!--<li >-->
    <!--<img src="../assets/image/product.png" alt="..."></br>-->
    <!--<b class="product-name">-->
    <!--Bếp điện tử cao cấp SEVILLA </br>-->
    <!--SV - 213 IH-->
    <!--</b> </br>-->
    <!--<b class="product-price">-->
    <!--10.000.000 d-->
    <!--</b>-->
    <!--</li>-->
    <!--<li >-->
    <!--<img src="../assets/image/product.png" alt="..."></br>-->
    <!--<b class="product-name">-->
    <!--Bếp điện tử cao cấp SEVILLA </br>-->
    <!--SV - 213 IH-->
    <!--</b> </br>-->
    <!--<b class="product-price">-->
    <!--10.000.000 d-->
    <!--</b>-->
    <!--</li>-->
    <!--</ul>-->

    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="image-wrapper product-detail">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../assets/image/product.png" style="width: 20%" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-name">&ndash;&gt;-->
    <!--&lt;!&ndash;Bếp điện tử cao cấp SEVILLA </br>&ndash;&gt;-->
    <!--&lt;!&ndash;SV - 213 IH&ndash;&gt;-->
    <!--&lt;!&ndash;</b> </br>&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-price">&ndash;&gt;-->
    <!--&lt;!&ndash;10.000.000 d&ndash;&gt;-->
    <!--&lt;!&ndash;</b>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="image-wrapper product-detail">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../assets/image/product.png" style="width: 20%" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-name">&ndash;&gt;-->
    <!--&lt;!&ndash;Bếp điện tử cao cấp SEVILLA </br>&ndash;&gt;-->
    <!--&lt;!&ndash;SV - 213 IH&ndash;&gt;-->
    <!--&lt;!&ndash;</b> </br>&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-price">&ndash;&gt;-->
    <!--&lt;!&ndash;10.000.000 d&ndash;&gt;-->
    <!--&lt;!&ndash;</b>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="image-wrapper product-detail">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../assets/image/product.png" style="width: 20%" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-name">&ndash;&gt;-->
    <!--&lt;!&ndash;Bếp điện tử cao cấp SEVILLA </br>&ndash;&gt;-->
    <!--&lt;!&ndash;SV - 213 IH&ndash;&gt;-->
    <!--&lt;!&ndash;</b> </br>&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-price">&ndash;&gt;-->
    <!--&lt;!&ndash;10.000.000 d&ndash;&gt;-->
    <!--&lt;!&ndash;</b>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="image-wrapper product-detail">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../assets/image/product.png" style="width: 20%" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-name">&ndash;&gt;-->
    <!--&lt;!&ndash;Bếp điện tử cao cấp SEVILLA </br>&ndash;&gt;-->
    <!--&lt;!&ndash;SV - 213 IH&ndash;&gt;-->
    <!--&lt;!&ndash;</b> </br>&ndash;&gt;-->
    <!--&lt;!&ndash;<b class="product-price">&ndash;&gt;-->
    <!--&lt;!&ndash;10.000.000 d&ndash;&gt;-->
    <!--&lt;!&ndash;</b>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

</div>
