<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-products-wrapper center row">
            <div class="col-md-4 col-xs-4 categories-menu-wrapper">
                <ul class="categories-menu">
                    <li class="list-item">
                        <div class="nav-link">
                            <div class="triangle-right"></div>
                            <span class="title bepgas">BẾP GAS</span>
                        </div>

                        <ul class="sub-menu">
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'ga2lo'}"
                                ng-click="changeProducts('ga2lo',null)">

                                >
                                BẾP GAS ÂM 2 LÒ
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'ga3lo'}"
                                ng-click="changeProducts('ga3lo',null)">

                                >
                                BẾP GAS ÂM 3 LÒ
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'gahh'}"
                                ng-click="changeProducts('gahh',null)">
                                >
                                BẾP GAS - TỪ HỖN HỢP
                            </li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <div class="nav-link bepdientu">
                            <div class="triangle-right"></div>
                            <span class="title">BẾP ĐIỆN TỪ</span>
                        </div>

                        <ul class="sub-menu">
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'beptu1'}"
                                ng-click="changeProducts('beptu1',null)">
                                BẾP ĐIỆN TỪ ĐƠN
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'beptu2'}"
                                ng-click="changeProducts('beptu2',null)">
                                BẾP ĐIỆN TỪ ĐÔI
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'beptu3'}"
                                ng-click="changeProducts('beptu3',null)">
                                BẾP ĐIỆN TỪ BA
                            </li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <div class="nav-link">
                            <div class="triangle-right"></div>
                            <span class="title">MÁY HÚT KHỬ MÙI</span>
                        </div>
                        <ul class="sub-menu">
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'kmdoclap'}"
                                ng-click="changeProducts('kmdoclap',null)">

                                MÁY HÚT KHỬ MÙI ĐỘC LẬP
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'kmkinhvat'}"
                                ng-click="changeProducts('kmkinhvat',null)">
                                MÁY HÚT KHỬ MÙI KÍNH VÁT
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'kmchut'}"
                                ng-click="changeProducts('kmchut',null)">
                                MÁY HÚT KHỬ MÙI CHỮ T
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'kmkinhcong'}"
                                ng-click="changeProducts('kmkinhcong',null)">
                                MÁY HÚT KHỬ MÙI KÍNH CONG
                            </li>
                            <li class="list-item"
                                ng-class="{'active' : typeOfProduct == 'kmcodien'}"
                                ng-click="changeProducts('kmcodien',null)">
                                MÁY HÚT KHỬ MÙI CỔ ĐIỂN
                            </li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <!--<div class="triangle-right"></div>-->
                        <span class="title">LÒ NƯỚNG</span>

                    </li>
                    <li class="list-item">
                        <!--<div class="triangle-right"></div>-->
                        MÁY SẤY BÁT
                    </li>
                    <li class="list-item">
                        <!--<div class="triangle-right"></div>-->
                        MÁY RỬA BÁT
                    </li>
                    <li class="list-item">
                        <!--<div class="triangle-right"></div>-->
                        LÒ VI SÓNG
                    </li>
                    <li class="list-item">
                        <!--<div class="triangle-right"></div>-->
                        VÒI, CHẬU RỬA BÁT
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-xs-8 products-field-wrapper">
                <div class="col-md-12 title-type-products">
                    <div ng-click="changeProducts(null,typeOfSale = 'new')" class="col-md-4 col-xs-12 title-badge">
                            <span
                                    ng-class="{'underline' : typeOfSale == 'new'}"
                            >SẢN PHẨM MỚI</span>
                    </div>
                    <div ng-click="changeProducts(null,typeOfSale='highlight')"
                         class="col-md-4 col-xs-12 title-badge">
                            <span ng-class="{'underline' : typeOfSale == 'highlight'}"
                            >SẢN PHẨM NỔI BẬT</span>
                    </div>
                    <div ng-click="changeProducts(null,typeOfSale='bestofsale')"
                         class="col-md-4 col-xs-12 title-badge">
                            <span ng-class="{'underline' : typeOfSale == 'bestofsale'}"
                            >SẢN PHẨM BÁN CHẠY</span>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 products-field">
                    <div style="text-align:center" dir-paginate="product in products | itemsPerPage: pageSize" current-page="currentPage"
                         class="col-md-4 col-xs-12 product-detail">
                        <a href="/product?id=\{{product.code}}" class="thumbnail">
                        <img check-image ng-src="../assets/image/\{{product.code}}.jpg" alt="...">
                        </a>
                        <span> \{{product.name}}
                            </span>
                        <b class="product-name">
                            </br>
                            \{{product.display}}
                        </b> </br>
                        <!--<b class="product-price">-->
                        <!--\{{product.price}} d-->
                        <!--</b>-->
                    </div>
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=2" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-02.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - T 88S-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--16.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=3" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-03.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - T 80S-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--13.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=4" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-04.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - T 75S-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--11.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=5" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-05.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - T 70D-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--10.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=6" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-06.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - T 70S-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--10.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=7" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-07.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - T 60S-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--9.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=8" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-08.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - T 60D-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--9.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-xs-12 product-detail">-->
                    <!--<a href="/product?id=9" class="thumbnail">-->
                    <!--<img src="../assets/image/pic-09.jpg" alt="...">-->
                    <!--</a>-->
                    <!--<b class="product-name">-->
                    <!--Bếp điện tử cao cấp SEVILLA </br>-->
                    <!--SV - M 500T-->
                    <!--</b> </br>-->
                    <!--<b class="product-price">-->
                    <!--19.990.000 d-->
                    <!--</b>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="center">
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="pageChangeHandler(newPageNumber)"
                    template-url="../angular-utils-pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>

        <!--<div class="page-toolbar">-->
        <!--<div class="toolbar-hotline">-->
        <!--<span class="hotline-icon">-->
        <!--<img src="../assets/image/hotline.png" width="35px" height="35px" alt="">-->
        <!--</span>-->
        <!--<span class="hotline-contact">-->
        <!--<span class="hotline-text">-->
        <!--HOTLINE-->
        <!--</span>-->
        <!--<span class="hotline-phone underline">-->
        <!--0947.769.899-->
        <!--</span>-->
        <!--</span>-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="../assets/image/zalo.png" alt="">-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="../assets/image/skype.png" alt="">-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<a href="https://www.facebook.com/bepsevilla/" target="_blank">-->
        <!--<img src="../assets/image/facebook.png" width="44px" height="44px" alt="">-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
